@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth; /* Smooth anchor scrolls */
  overflow-x: hidden; /* Κλείδωμα horizontal overflow (μόνο αν δεν δημιουργεί reflow) */
  -webkit-font-smoothing: antialiased; /* Smoother fonts για Webkit */
  -moz-osx-font-smoothing: grayscale; /* Smoother fonts για Firefox */
  text-rendering: optimizeLegibility; /* Καλύτερη απόδοση fonts */
  scroll-padding-top: 100px; /* Αν θες να έχει κενό όταν πατάς anchor links */
}

